pytest==7.4.4
allure-pytest
pytest-html
requests
selenium
pytest-lazy-fixture
pytest-xdist
loguru
openpyxl
faker
PyHamcrest
regex
typing_extensions
jsonschema
hypothesis
pylint
pipdeptree
graphviz
tach
